body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'ProximaNova Regular',
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin-top: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00c3b9;
  height: 200px;
}

.form {
  width: 90%;
}

.fieldset {
  display: flex;
  justify-content: center;
  border: 0;
}

.shorten-url {
  height: 50px;
  width: 72%;
  margin-right: 20px;
  padding: 0 20px;
  border: 1px solid #d3d4d7;
  border-radius: 8px 8px 8px 8px;
  font-size: 20px;
}

.shorten-url:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgb(206 218 250);
}

.shorten-button {
  height: 52px;
  width: 28%;
  background: #1b3987;
  color: white;
  font-size: 20px;
  line-height: 1.11;
  padding: 18px 30px;
  border-radius: 6px;
  transition: background 100ms linear;
  text-decoration: none;
  text-align: center;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  line-height: 0px;
}

.shorten-button:hover {
  background: #2a5bd7;
}

.list-section {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.list {
  list-style: none;
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .fieldset {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .shorten-url {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0 20px;
    margin-bottom: 10px;
  }
  .shorten-button {
    width: 100%;
  }
  .list {
    font-size: 1.75rem;
  }
}
